<html lang="ES">
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
</header>
<body>
{{#rows}}
    <div class="w-50 h-25 p-1 float-left border {{borderColor}}">
        <div class="w-100 h-25 text-center p-3 border {{borderColor}} {{borderColor}} {{bgColor}}">
            <h5 class="align-middle font-weight-bolder {{contrastText}}">{{workItemType}}: {{id}}</h5>
        </div>
        <div class="w-100 h-50 p-3 border border-width {{borderColor}}">
            <h4>{{title}}</h4>
        </div>
        <div class="w-100 h-25">
            <div class="h-100 w-25 float-left p-1 border border-width {{borderColor}}">
              {{#isPBI}}
                  <small>Effort:</small><br/>
                {{effort}}
              {{/isPBI}}
              {{#isTask}}
                  <small>Remaining Work:</small>
                {{remainingWork}}
              {{/isTask}}
            </div>
            <div class="h-100 w-25 float-left p-1 border border-width {{borderColor}}">
              {{#isPBI}}
                  <small>Tasks:</small><br/>
                {{taskNumber}}
              {{/isPBI}}
              {{#isTask}}
                  <small>Real Time:</small><br/>
              {{/isTask}}
            </div>
            <div class="h-100 w-50 float-left text-center border border-width {{borderColor}}">
              {{#isPBI}}
                  <p>{{project}}</p>
              {{/isPBI}}
              {{#isBug}}
                  <p>{{project}}</p>
              {{/isBug}}
              {{#isTask}}
                  <small>Parent:</small><br/>
                  <h4>{{parent.id}}:{{parent.title}}</h4>
              {{/isTask}}
            </div>
        </div>
    </div>
{{/rows}}
</body>
</html>
