<html lang="ES">
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>
<body>
<div class="container">
    {{#rows}}
    <div class="card col-4">
        <table class="table">
            <tr>
                <td>{{id}}</td>
            </tr>
            <tr>
                <td colspan="3">{{title}}</td>
            </tr>

        </table>
    </div>
    {{/rows}}
</div>
</body>
</html>
