<html lang="ES">
<header></header>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    {{#rows}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
    </tr>
    {{/rows}}
</table>
</body>
</html>
